.hero-contain {
  height: 34vw;
  margin: 70px auto;
  position: relative;
  left: 2%;
}

.hero-contain h3 {
  font-size: max(2.5vw, 20px);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #7b7e8f;
}

.hero-contain h1 {
  width: fit-content;
  height: fit-content;
  font-size: max(6.6vw, 20px);
  line-height: 71px;
  margin: 8px 0 35px 0;
  color: #dbdde4;
  display: flex;
}

.hero-contain .dot {
  padding: 7px;
  border: 1px solid #50a3dc;
  background-color: #50a3dc;
  align-self: flex-end;
  position: relative;
  left: -45.5%;
  margin: 0 0 5px 0;
}

.prev-btn {
  width: 200px;
  font-size: 16px;
  padding: 15px 20px;
}
